<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <!-- <%= @inner_content %> -->
    <!-- <script type="module" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>  -->
    <%= @inner_content %>
    <!-- if development -->
    <script defer type="module" src="/@vite/client"></script>
    <script defer type="module" src="/src/app.ts"></script>
  </body>
</html>
